.theme--light.v-application .v-list-item__title{
    color: #4d5156 !important;
}

.theme--light.list-table.v-data-table td{
    color: #4d5156 !important;
}


.v-btn.btn-style-1{
    min-width: 40px !important;
}

.btn-style-full-width{
    width: calc(100% - 60px);
}

.no-bold{

}

.font-normal{
    font-size: 16px !important;
}
.theme--dark.error .black--text{
    color: #FFFFFF !important;
}

.w-17{
    width: 105px !important;
}


.mobile .v-btn-toggle{
    width: 100%;
}
.mobile .v-btn-toggle .v-btn{
    height: 60px !important;
}
.mobile .v-btn-toggle .v-btn:first-child {
    width: 55%!important;
    height: 60px !important;
}

.mobile .v-btn-toggle .v-btn:not(:last-child):not(:first-child) {
    width: 35% !important;
    height: 60px !important;
}

.mobile .v-btn-toggle .v-btn:last-child {
    width: 10%!important;
    height: 60px !important;
}

.mobile5 .v-btn-toggle{
    width: 100%;
}

.mobile5 .v-btn-toggle .v-btn:not(:last-child){
    width: 22.5% !important;
    height: 60px !important;
}

.mobile5 .v-btn-toggle > .v-btn:last-child {
    width: 10%!important;
    height: 60px !important;
}
